<template>
  <div id="filme">
      <div v-if="loading">
          <Loading/>
      </div>
      <div v-else class="container">
        <h3>{{filme.nome}}</h3>
        <img :src="filme.foto" alt="">
        <h2>Sinopse</h2>
        <p>{{filme.sinopse}}</p>
        <div class="botoes">
            <router-link tag="button" to="/">Ver mais filmes</router-link>
            <button @click="salvarFilme">Salvar</button>
            <button>
                <a :href="`https://www.youtube.com/results?search_query=${filme.nome} trailer`" target="blank">
                    Trailer
                </a>    
            </button>
        </div>
      </div>
  </div>
</template>

<script>
import api from "../services/api"
import Loading from "@/components/Loading"

export default {
    props: ['id'],
    components: {
        Loading
    },
    data() {
        return {
            filme: {},
            loading: true
        }
    },
    async created() {
        const response = await api.get(`?api=filmes/${this.id}`)
        this.filme = response.data;
        this.loading = false;
    },
    methods: {
        salvarFilme() {
            const minhaLista = localStorage.getItem("myFilme")
            let filmes = JSON.parse(minhaLista) || [];
            const hasFilme = filmes.some((filme)=> filme.id === this.filme.id)
            if(hasFilme) {
                return;
            }
            filmes.push(this.filme)
            localStorage.setItem('myFilme', JSON.stringify(filmes))
        }
    }
}
</script>

<style scoped>
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 900px;
    }

    h3 {
        color: #fff;
        margin-bottom: 0px;
        background: brown;
        padding: 15px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .container img {
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    button {
        margin-top: 5px;
        border-radius: 5px;
        margin-right: 15px;
        cursor: pointer;
        border: 0;
        padding: 12px;
        font-size: 20px;
        transition: all 0.5s;
        outline: none;
    }

    button:hover {
        background: brown;
        color: #fff;
    }

    a {
        text-decoration: none;
        color: #000;
        transition: all 0.5s;
    }

    a:hover {
        color: #fff;
    }
</style>