<template>
  <div id="mymovies">
      <h1>Meus filmes</h1>
      <ul v-if="myMovies.length > 0">
        <li v-for="item in myMovies" :key="item.id">
          <h2>{{item.nome}}</h2> 
          <div>
            <router-link tag="button" to="/">Ver detalhes</router-link>
            <button>Excluir</button>
          </div>
        </li>
      </ul>
      <span v-else>Você não possui nenhum filme salvo</span>
  </div>
</template>

<script>
export default {
    name: 'MeusFilmes',
    data() {
      return {
        myMovies: []
      }
    },
    created() {
      const lista = localStorage.getItem('myFilme')
      this.myMovies = JSON.parse(lista) || []
    }
}
</script>

<style scoped>
#mymovies {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
  list-style: none;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-left: 10px;
}

h2 {
  font-size: 25px;
}
</style>