<template>
  <div id="loading">
      <h3>Carregando dados...</h3>
  </div>
</template>

<script>
export default {
    name: 'Loading'
}
</script>

<style scoped>
h2 {
    font-size: 25px;
    color: blue;
}

</style>